<mat-list>
  <mat-list-item  routerLinkActive="active">
    <mat-icon>home</mat-icon> Dashboard
  </mat-list-item>
    <mat-list-item  routerLinkActive="active">
      <mat-icon>menu</mat-icon> User registration
    </mat-list-item>
    <mat-list-item  routerLinkActive="active">
      <mat-icon>details</mat-icon> Employee Details
    </mat-list-item>
    <mat-list-item  routerLinkActive="active" routerLink="inbox">
      <mat-icon>filter_none</mat-icon>Patient Registration
    </mat-list-item>
    <mat-list-item >
      <mat-icon>label</mat-icon>User Management 
    </mat-list-item>
      <mat-list-item  routerLinkActive="active" routerLink="notes">
        <mat-icon>history</mat-icon> Visit Patient History
      </mat-list-item> 
      <mat-list-item  routerLinkActive="active" routerLink="appointment">
        <mat-icon>access_time</mat-icon> Scheduling
      </mat-list-item>
  </mat-list>
 
  